<div class="container" fxLayout="row" fxLayoutAlign="center none">
    <div fxFlex="95%">
  
      <mat-card>
        <mat-card-content>
          <h2>Agregar Reservación</h2>

          <div fxLayout="row" class="container no-records animate">

            <form class="example-form" [formGroup]="reservationForm" (ngSubmit)="addConcert()" novalidate>


                <mat-form-field class="example-full-width">
                  <mat-select placeholder="Clientes" formControlName="id_buyer">
                    <mat-select-filter [placeholder]="'Buscar'" [displayMember]="'name'" [array]="customersData" (filteredReturn)="filteredCustomer =$event"></mat-select-filter>
                    <mat-option *ngFor="let item of filteredCustomer" [value]="item.id">
                      {{item.name}} {{item.surname}}
                    </mat-option>                   
                  </mat-select>
                  <mat-error *ngIf="handleError('id_buyer', 'required')">
                    El cliente es <strong>obligatorio</strong>
                   </mat-error>
                </mat-form-field>

                <mat-form-field class="example-full-width">
                  <mat-select placeholder="Conciertos" formControlName="id_concert">
                    <mat-select-filter [placeholder]="'Buscar'" [displayMember]="'description'" [array]="concertsData" (filteredReturn)="filteredConcert =$event"></mat-select-filter>
                    <mat-option *ngFor="let item of filteredConcert" [value]="item.id">
                      {{item.description}} - {{item.city}} 
                    </mat-option>                   
                  </mat-select>
                  <mat-error *ngIf="handleError('id_concert', 'required')">
                    El concierto es <strong>obligatorio</strong>
                   </mat-error>
                </mat-form-field>

                <mat-form-field class="example-full-width">
                  <mat-select placeholder="Estado Concierto" formControlName="status">                   
                    <mat-option *ngFor="let item of status" [value]="item">
                      {{item}}
                    </mat-option>                   
                  </mat-select>
                  <mat-error *ngIf="handleError('status', 'required')">
                    El estado es <strong>obligatorio</strong>
                   </mat-error>
                </mat-form-field>

                <mat-form-field class="input_people">
                  <mat-label>Número Personas</mat-label>
                  <input matInput type="number" formControlName="number_people">
                  <mat-error *ngIf="handleError('number_people', 'required')">
                    El número de personas es <strong>obligatorio</strong>
                   </mat-error>                  
                </mat-form-field>               
                
                <div class="btn">
                  <button type="submit" mat-raised-button color="primary">Agregar</button>
                  <button mat-raised-button color="warn" (click)="cancel()">Cancelar</button>
                </div>
                              
             </form>           
           
          </div>
             
        </mat-card-content>
      </mat-card>
  
    </div>
  </div>